# Global Environment Variables
NODE_ENV=development
PORT=3000

# Database & Caching
MONGODB_URI=mongodb+srv://mahorodiv2007_db_user:YpqJ8ZiX9mCf1O4d@cluster0...
REDIS_URL=redis://localhost:6379

# Security
JWT_SECRET=super-secret-key-change-in-prod

# Integrations
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
MTN_MOMO_API_KEY=your_mtn_api_key
AIRTEL_MONEY_API_KEY=your_airtel_api_key
AFRICAS_TALKING_API_KEY=your_africas_talking_key
SENDGRID_API_KEY=your_sendgrid_key
